<div class="container-fluid">
    <div class="col-lg-6 offset-lg-3">
        <!-- Encabezado -->
    <header>
        <h1>Nuevo Vehiculo</h1>
    </header>
    <section>
        <!-- Formulario de Creacion de Vehiculos -->
        <form action="" [formGroup]="usuarioForm" (ngSubmit)="!usuarioForm.invalid && crearUsuario(usuarioForm.value)">
            <div class="row">
                <!-- campos del formulario -->
                <div class="col col-12">
                    <!-- nombre -->
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" class="form-control" formControlName="nombre" maxlength="200" autocomplete="off" placeholder="Ingrese su nombre">
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('nombre')!.hasError('required') && usuarioForm.get('nombre')!.touched">Campo Requerido</div>
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('nombre')!.hasError('minlength') && usuarioForm.get('nombre')!.touched">El contenido es muy corto</div>
                    </div>
                    <!-- contrasena -->
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="contrasena">Contraseña</label>
                        <input id="contrasena" class="form-control" formControlName="contrasena" maxlength="30" autocomplete="off" placeholder="Ingrese su contraseña">
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('contrasena')!.hasError('required') && usuarioForm.get('contrasena')!.touched">Campo Requerido</div>
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('contrasena')!.hasError('minlength') && usuarioForm.get('contrasena')!.touched">El contenido es muy corto</div>
                    </div>
                    <!-- fehcaNac -->
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input id="fechaNacimiento" class="form-control" formControlName="fechaNacimiento" maxlength="100"  autocomplete="off" placeholder="Ingrese su fecha de nacimiento">
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('fechaNacimiento')!.hasError('required') && usuarioForm.get('fechaNacimiento')!.touched">Campo Requerido</div>
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('fechaNacimiento')!.hasError('minlength') && usuarioForm.get('fechaNacimiento')!.touched">El contenido es muy corto</div>
                    </div>
                    <!-- email -->
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="email">Email</label>
                        <input id="email" class="form-control" formControlName="email" maxlength="20" autocomplete="off" placeholder="Ingrese su correo electronico">
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('email')!.hasError('required') && usuarioForm.get('email')!.touched">Campo Requerido</div>
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('email')!.hasError('minlength') && usuarioForm.get('email')!.touched">El contenido es muy corto</div>
                    </div>
                    <!-- paisOrig -->
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="paisOrigen">Pais de origen</label>
                        <input id="paisOrigen" class="form-control" formControlName="paisOrigen" maxlength="30" autocomplete="off" placeholder="Ingrese su pais de origen">
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('paisOrigen')!.hasError('required') && usuarioForm.get('paisOrigen')!.touched">Campo Requerido</div>
                        <div class="alert alert_danger alert-dismissible fade show" *ngIf="usuarioForm.get('paisOrigen')!.hasError('minlength') && usuarioForm.get('paisOrigen')!.touched">El contenido es muy corto</div>
                    </div>
                </div>
            </div>
            <br />
            <!-- Boton Crear -->
            <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Crear</button>&nbsp;
        </form>
    </section>
    </div>
</div>